body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: #2e2f42;
}

/* ====================== */
/* ===========HEADER=========== */
.page-header {
}
.page-navigation {
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-black {
  color: #2e2f42;
}

.header-list {
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.page-address {
  font-style: normal;
}

.adddress-list {
}

.adddress-list-item {
}

.address-contacts {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-contacts:hover,
.address-contacts:focus {
  color: #404bbf;
}

/* ====================== */
/* ===========HERO=========== */

.hero {
  background: #2e2f42;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.benefits {
}

.benefits-title {
}

.h2 {
}

.benefits-list {
}

.benefits-list-item {
}

.benefits-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ====================== */
/* ===========TEAM=========== */

.team {
  background: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
}

.team-list-item {
  background: #fff;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ====================== */
/* ===========PORTFOLIO=========== */

.portfolio {
}

.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 0.1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ====================== */
/* ===========FOOTER=========== */

.page-footer {
  background: #2e2f42;
}

.logo-white {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ====================== */
